# Git
.git
.gitignore

# Docs
README.md
*.md

# Target folders not needed in container
target/
keycloak-chart/

# AWS and other configs
.aws/
.github/

# Docker compose (optional)
docker-compose.yml

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
